doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 HTML Forms
    form(method='post', action='/api/category/')
      | Title:
      br
      input(type='text', name='title')
      br
      br
      input(type='submit')

