doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  body
    h2 Add News
    form(method='post', action='/api/news/')
      | Title:
      br
      input(type='text', name='title')
      br
      | Image Url:
      br
      input(type='text', name='imageUrl')
      br
      |   Content:
      br
      textarea(name="content" rows="10" cols="30")
      br
      |  Cat:
      select(name="categoryId")
        each val in title
          option(value=val) #{val}
      br
      br
      input(type='submit')

