doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')

    style.
      div.tablo {
        width: 50%;
        border: 3px solid #000;
      }

  body
    h2 Categories
    a(href="../addCat")
      button.btn.btn-primary.btn-lg(type='button') Add Category

    .tablo
      table.table
        tr
          th #
          th Title
        each post, i in cat
          tr
            th(scope='row') #{i}
            td #{post.title}
